<div class="side-bar-header">
  <div class="header-name">
    <a href="#">hiromu</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">Ryun</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">murohi</a>
    </div>
  </div>
</div>